<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Title</title>
</head>
<body>
<div class="w3-container">

    <header class="w3-container">
        <div class="head">
            <h1>Library</h1>
        <h5>form to update a book sending to @Controller @Service @Repository and H2 DB</h5>
    </div>
    </header>
    <Br>
<table class="w3-table-all w3-hoverable" th:object="${book}" th:with="countStat=${1}">
    <tr><td><strong>BookId</strong></td><td th:text="*{bookId}"></td></tr>
    <tr><td><strong>Title</strong></td><td th:text="*{title}"></td></tr>
    <tr><td><strong>ISBN</strong></td><td th:text="*{isbn}"></td></tr>
    <tr><td><strong>Pages</strong></td>  <td th:text="*{pages}"></td></tr>
    <tr><td><strong>Published Year</strong></td> <td th:text="*{publishedYear}"></td></tr>
    <div th:each="author,countStat : ${book.authors}">
        <tr><td><strong>Author <span th:text="${countStat.count}"></span></strong></td>
            <td><a th:href="@{detailAuthor(authorIdFromView=${author.authorId})}" th:text="${author.authorName()}"></a></td></td>
        </tr>
    </div>
    </tr>
</table>
    <div>
        <p><a th:href ="@{deleteBook(bookIdFromView=${book.bookId})}" class="w3-button w3-red">Delete this book</a></p>
        <p><a th:href="@{/library/books}" class="w3-button w3-black">Back books</a></p>
    </div>
</div>


</body>
</html>