<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<!--https://www.quanzhanketang.com/w3css/tryw3css_input_top.html?filename=tryw3css_input_top
https://www.w3schools.com/w3css/w3css_padding.asp
https://www.w3schools.com/w3css/w3css_color_material.asp
https://www.w3schools.com/w3css/w3css_display.asp
https://www.flaticon.com/
https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_cards_buttons2 -->

<div class="w3-container">

    <div class="w3-container w3-sand">
        <h1>Library</h1>
        <h5>form to create new book sending to @Controller @Service @Repository and H2 DB</h5>
    </div>
    <Br>

    <div class="w3-card-4" style="width:50%;">
        <header class="w3-container w3-light-grey">
            <img src="/img/open-book.png" alt="open-book" class="w3-right w3-padding-16 w3-margin-right" style="width:40px">
            <p>Add new author</p>
        </header>

        <div class="w3-container">
            <form action="#"
                  th:action="@{addAuthor}"
                  th:object="${authorfromController}" method="post">
                <p>
                    <label class="w3-text-gray" for="firstName"><b>First Name</b></label>
                    <input  type="text" name="firstName" class="w3-input" id="firstName"></p>
                <p>
                    <label class="w3-text-gray" for="lastName"><b>Last Name</b></label>
                    <input  type="text" name="lastName" class="w3-input" id="lastName"></p>
<!--                <p>-->
                    <label class="w3-text-gray" for="dob"><b>Birthdate</b></label>
                    <input type="date" name="dob" class="w3-input" id="dob" placeholder="1/1/2021"></p>
                <div class="w3-container w3-padding-16">
                    <input type="submit" value="Add new author" class="w3-button w3-padding-16 w3-light-grey w3-right w3-margin-right"/>
                </div>
            </form>
        </div>

        <footer class="w3-container w3-dark-grey">
            <p>Library</p>
        </footer>
    </div>

    <div >
        <p><a th:href="@{/library/books}" class="w3-button w3-black">Back books</a></p>
    </div>

</div>
</body>
</html>